.bio,
.skills,
.experiance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    min-height: 70vh;
}

.bio {
    min-height: calc(100vh - var(--nav-height));
}

.bio .bio-left,
.skills .skill-left,
.experiance .experiance-left {
    max-width: 50%;
    line-height: 1.4rem;
}

.bio .bio-left p {
    margin: 1rem 0;
}

.bio .bio-left p span {
    font-weight: 800;
}

.bio .bio-right,
.skills .skill-right,
.experiance .experiance-right {
    width: 40%;
}

.bio .bio-right div,
.skills .skill-right div,
.experiance .experiance-right div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.bio h2,
.skills h2,
.experiance h2 {
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-radius: var(--border-radius);
    background-color: var(--primary-color1);
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
}

.skill-container:hover {
    scale: 1.05;
}

.skill-container span,
.skill-container p {
    color: var(--primary-color2);
}

.skill-container span {
    font-size: var(--fz-lg);
    transform: translateY(1px);
    margin-right: 0.3rem;
}

.skill-container p {
    font-size: var(--fz-md);
}

.experiance-left {
    line-height: 1.4rem;
}

.experiance-card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex: 1; */
    margin-bottom: 1rem;
}

.experience-card-body p,
.experience-card-body ul {
    font-size: var(--fz-sm);
}

.experience-card-body ul {
    margin-left: 2rem;
    margin-top: 0.7rem;
}

.experience-card-body li {
    font-size: 14px;
    line-height: 1.6;
    list-style-type: disc;
}

.experience-card-body li::marker {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .bio .bio-left,
    .skills .skill-left {
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .bio,
    .skills,
    .experiance {
        align-items: unset;
        flex-direction: column;
    }

    .bio .bio-left,
    .skills .skill-left {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .experiance-left {
        min-width: 100%;
        margin-bottom: 3rem;
    }

    .bio .bio-right,
    .skills .skill-right,
    .experiance .experiance-right {
        width: 100%;
    }

    .experiance-card-head {
        align-items: flex-start;
        flex-direction: column;
    }
}
