.project-header {
    display: flex;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.project-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    font-size: var(--fz-heading-lg);
}

.project-imgs {
    border-radius: 12px;
    overflow: hidden;
}

.project-imgs img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: var(--red) !important;
    font-size: var(--fz-heading) !important;
    transition: var(--transition);
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    scale: 1.2;
}

.swiper-pagination-bullet-active {
    background: var(--red) !important;
}

.project-details .project-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    line-height: 1.4rem;
}

.project-description .project-desc-head {
    text-align: center;
}

.project-description .project-desc-head h1 {
    margin-bottom: 1rem;
}

.project-description .project-overview h2 {
    margin-bottom: 1rem;
}

.project-description .project-overview p {
    font-size: var(--fz-lg);
}

.project-description .project-role {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.project-description .project-tech ul li {
    margin: 0.5rem 0;
    list-style: none;
}

.project-description .project-tech ul li span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 0;
}

.project-description .project-details-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-description .project-details-link .project-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.project-description .project-details-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--primary-color1);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    color: var(--primary-color2);
    font-size: var(--fz-md);
    font-weight: 500;
    text-decoration: none;
    transition: var(--transition);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);
}

.project-description .project-details-link a:hover {
    box-shadow: none;
    translate: 0 3px;
}

.project-details-link .disabled-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--primary-color2);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    cursor: not-allowed;
    text-decoration: none;
}

.project-details-link .disabled-link span {
    user-select: none;
    margin-left: 0.5em;
}

@media screen and (max-width: 480px) {
    .project-header {
        display: flex;
        margin-bottom: 3rem;
        margin-top: 0;
    }

    .project-header ul {
        font-size: var(--fz-heading);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: var(--fz-md) !important;
        font-weight: 900 !important;
    }

    .project-description .project-desc-head p,
    .project-description .project-overview p,
    .project-description .project-role p,
    .project-description .project-tech ul li span {
        font-size: var(--fz-md);
    }

    .project-description .project-details-link {
        display: block;
    }

    .project-description .project-details-link .project-links {
        display: block;
    }

    .project-description .project-details-link .project-links a,
    .project-details-link .disabled-link {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}
