.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    padding-inline: clamp(1rem, 6vw, 7rem);
    width: 100%;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-items ul {
    display: flex;
    gap: 2.5rem;
    font-size: var(--fz-sm);
    font-weight: 500;
}

.nav-items a {
    position: relative;
    color: var(--red);
    display: block;
    overflow: hidden;
}

.nav-items a span {
    color: var(--primary-color1);
    display: block;
    transition:
        transform 0.5s ease,
        color 0.5s ease;
}

.nav-items a::before {
    content: attr(data-link-alt);
    position: absolute;
    top: 100%;
    opacity: 0;
    transition:
        top 0.5s ease,
        opacity 0.5s ease;
}

.nav-items a:hover span {
    transform: translateY(-100px);
}

.nav-items a:hover::before {
    top: 0;
    opacity: 1;
}

.nav-items a.active span,
.mobile-nav-body a.active span {
    color: var(--red);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fz-sm);
}

.logo svg {
    color: var(--red);
}

/* -------css for social icons--------- */
.nav-social-icons a {
    color: var(--primary-color1);
    font-size: var(--fz-lg);
    margin-right: 1rem;
    transition: var(--transition);
    display: inline-block;
}

.nav-social-icons a:hover {
    color: var(--red);
    transform: translateY(-5px) scale(1.1);
}

/* -------css for mobile nav--------- */
.mobile-nav {
    display: none;
}

.mobile-nav button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
    background: transparent;
    border: none;
    z-index: 4;
    cursor: pointer;
}

.mobile-nav button span {
    display: block;
    width: 2rem;
    min-height: 3px;
    border-radius: var(--border-radius);
    background-color: var(--red);
    transition: all 0.5s ease;
}

.mobile-nav button span:nth-child(1) {
    transform: translateY(-0.3rem);
}

.mobile-nav button span:nth-child(2) {
    opacity: 1;
}

.mobile-nav button span:nth-child(3) {
    transform: translateY(0.3rem);
}

.mobile-nav button span:nth-child(1).active {
    rotate: 45deg;
    transform: translateY(0.3rem);
}

.mobile-nav button span:nth-child(2).active {
    opacity: 0;
}

.mobile-nav button span:nth-child(3).active {
    rotate: -45deg;
    transform: translateY(-0.3rem);
}

.mobile-nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100svh;
    background-color: var(--primary-color1);
    z-index: 3;
}

.sidebar-header {
    padding: 35px 35px 0;
}

.mobile-nav-body {
    display: flex;
    flex-direction: column;
}

.mobile-nav-body h2 {
    color: var(--primary-color2);
    margin: 3rem 0;
}

.mobile-nav-body a {
    font-size: var(--fz-lg);
    font-weight: 500;
    color: var(--primary-color2);
    display: block;
    padding: 1rem 35px;
}

.mobile-nav-social {
    position: absolute;
    width: 100%;
    bottom: 30px;
    padding-inline: 35px;
}

.mobile-nav-social div:first-child {
    width: 100%;
    height: 2px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color2);
}

.mobile-nav-social-icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    gap: 1.5rem;
}

.mobile-nav-social-icons a {
    padding: 0;
}

.mobile-nav-social-icons svg {
    color: var(--primary-color2);
    font-size: var(--fz-xxl);
}

@media (max-width: 768px) {
    .nav-items,
    .nav-social-icons {
        display: none !important;
    }

    .mobile-nav {
        display: block !important;
        margin-left: auto;
    }

    .mobile-nav-menu {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .mobile-nav-menu {
        width: 70%;
    }
}

@media screen and (max-width: 399px) {
    .nav {
        padding-inline: 1rem;
    }
}
