.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work .work-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    min-height: calc(100svh - var(--nav-height));
}

.work-header .work-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.work-header .work-title h3 {
    line-height: 1.5rem;
}

.work .work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    min-height: 100svh;
}

.work-content .work-progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    position: sticky;
    top: 20px;
    width: 100%;
    font-size: var(--fz-heading-lg);
}

.work-content .work-progress-bar h4 {
    margin-top: 1rem;
}

.work-cards {
    min-width: 100%;
}
