.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    border-radius: var(--border-radius);
    background: var(--red);
    transform-origin: 0%;
    z-index: 10000;
    pointer-events: none;
}

/* .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, #f00, #0f0, #00f);
    transform-origin: 0%;
    z-index: 10000;
    pointer-events: none;
} */